<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="YTLWebApplication.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <!-- Use encrypted connection strings and secure credentials -->
    <add key="sqlserverconnection" value="Data Source=LAPTOP-MS6HUBRJ;Database=ytldb;Integrated Security=SSPI;Encrypt=True;TrustServerCertificate=False;MultipleActiveResultSets=True;Connection Timeout=30;" />
    <add key="sqlserverconnection2" value="Data Source=LAPTOP-MS6HUBRJ;Database=ytldb;Integrated Security=SSPI;Encrypt=True;TrustServerCertificate=False;MultipleActiveResultSets=True;Connection Timeout=30;" />
    <!-- Add security headers configuration -->
    <add key="EnableSecurityHeaders" value="true" />
  </appSettings>
  <connectionStrings />
  
  <system.web>
    <compilation targetFramework="4.5.1" debug="false" tempDirectory="~/App_Data/Temp/" />
    
    <!-- Enhanced authentication and session security -->
    <authentication mode="Forms">
      <forms loginUrl="~/Login.aspx" 
             timeout="30" 
             requireSSL="true" 
             slidingExpiration="false"
             cookieless="false"
             cookieTimeout="30"
             cookieSameSite="Strict"
             cookieProtection="All"
             enableCrossAppRedirects="false" />
    </authentication>
    
    <!-- Session state security -->
    <sessionState mode="InProc" 
                  timeout="30" 
                  cookieTimeout="30"
                  cookieless="false"
                  cookieSameSite="Strict"
                  httpOnlyCookies="true"
                  cookieProtection="All"
                  regenerateExpiredSessionId="true" />
    
    <!-- Request validation and limits -->
    <httpRuntime targetFramework="4.5.1" 
                 enableVersionHeader="false"
                 maxRequestLength="4096"
                 executionTimeout="110"
                 requestValidationMode="4.5"
                 requestPathInvalidCharacters="&lt;,&gt;,*,%,&amp;,\,?"
                 relaxedUrlToFileSystemMapping="false" />
    
    <!-- Custom errors for security -->
    <customErrors mode="On" defaultRedirect="~/Error.aspx">
      <error statusCode="403" redirect="~/AccessDenied.aspx" />
      <error statusCode="404" redirect="~/NotFound.aspx" />
      <error statusCode="500" redirect="~/Error.aspx" />
    </customErrors>
    
    <!-- Disable trace for security -->
    <trace enabled="false" localOnly="true" />
    
    <!-- Machine key for encryption -->
    <machineKey validationKey="[GENERATE_VALIDATION_KEY]" 
                decryptionKey="[GENERATE_DECRYPTION_KEY]" 
                validation="HMACSHA256" 
                decryption="AES" />
    
    <!-- Authorization -->
    <authorization>
      <deny users="?" />
    </authorization>
    
    <!-- Location-specific authorization for login page -->
    <location path="Login.aspx">
      <system.web>
        <authorization>
          <allow users="*" />
        </authorization>
      </system.web>
    </location>
    
    <!-- Location-specific authorization for error pages -->
    <location path="Error.aspx">
      <system.web>
        <authorization>
          <allow users="*" />
        </authorization>
      </system.web>
    </location>
    
    <webServices>
      <protocols>
        <add name="HttpPost" />
      </protocols>
    </webServices>
    
    <pages controlRenderingCompatibilityVersion="3.5" 
           clientIDMode="AutoID" 
           validateRequest="true"
           enableEventValidation="true"
           viewStateEncryptionMode="Always" />
           
    <!-- Trust level -->
    <trust level="Full" />
    
    <!-- Globalization -->
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" />
  </system.web>
  
  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="Login.aspx" />
      </files>
    </defaultDocument>
    
    <!-- Security headers -->
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />
        <remove name="Server" />
        <add name="X-Frame-Options" value="DENY" />
        <add name="X-Content-Type-Options" value="nosniff" />
        <add name="X-XSS-Protection" value="1; mode=block" />
        <add name="Strict-Transport-Security" value="max-age=31536000; includeSubDomains" />
        <add name="Content-Security-Policy" value="default-src 'self'; script-src 'self' 'unsafe-inline' 'unsafe-eval'; style-src 'self' 'unsafe-inline'; img-src 'self' data: https:; font-src 'self'; connect-src 'self'; frame-ancestors 'none';" />
        <add name="Referrer-Policy" value="strict-origin-when-cross-origin" />
        <add name="Permissions-Policy" value="geolocation=(), microphone=(), camera=()" />
      </customHeaders>
    </httpProtocol>
    
    <!-- URL rewrite for security -->
    <rewrite>
      <rules>
        <rule name="Redirect to HTTPS" stopProcessing="true">
          <match url=".*" />
          <conditions>
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:0}" redirectType="Permanent" />
        </rule>
      </rules>
    </rewrite>
    
    <!-- Request filtering -->
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="4194304" maxUrl="4096" maxQueryString="2048" />
        <verbs>
          <remove verb="TRACE" />
          <remove verb="OPTIONS" />
          <remove verb="DELETE" />
          <remove verb="PUT" />
        </verbs>
        <fileExtensions>
          <remove fileExtension=".config" />
          <remove fileExtension=".cs" />
          <remove fileExtension=".vb" />
          <remove fileExtension=".dll" />
          <remove fileExtension=".pdb" />
        </fileExtensions>
        <hiddenSegments>
          <add segment="bin" />
          <add segment="App_Code" />
          <add segment="App_Data" />
          <add segment="App_GlobalResources" />
          <add segment="App_LocalResources" />
          <add segment="App_WebReferences" />
          <add segment="App_Browsers" />
        </hiddenSegments>
      </requestFiltering>
    </security>
    
    <urlCompression doDynamicCompression="true" />
    
    <caching>
      <profiles>
        <add extension=".aspx" policy="DontCache" kernelCachePolicy="DisableCache" duration="00:00:30" />
      </profiles>
    </caching>
    
    <staticContent>
      <remove fileExtension=".json" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <remove fileExtension=".kml" />
      <mimeMap fileExtension=".kml" mimeType="application/vnd.google-earth.kml+xml" />
    </staticContent>
    
    <modules runAllManagedModulesForAllRequests="true" />
    
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,POST" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="50000000" />
      </webServices>
    </scripting>
  </system.web.extensions>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  
  <applicationSettings>
    <YTLWebApplication.My.MySettings>
      <setting name="YTLWebApplication_SMSInsert_GlobalSimService" serializeAs="String">
        <value>http://fleet.avls.com.my/GlobalSimService.asmx</value>
      </setting>
    </YTLWebApplication.My.MySettings>
  </applicationSettings>
</configuration>